::-webkit-scrollbar {
      display: none;
}

[contenteditable] {
      caret-color: transparent;
}

html,
body {
      font-family: monospace;
      padding: 0;
      margin: 0;
      font-size: 22px;
      line-height: 25px;
      background: #000;
      color: #000;
      height: 100%;
}

main {
      height: 100%;
      background: transparent;
}

* {
      outline: none;
}

video,
img {
      display: none;
}

canvas {
      position: absolute;
      pointer-events: none;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      background: none;
}

.lp5-code-parent {
      position: relative;
      padding: 4px 40px;
      border-left: 0 solid rgba(0, 0, 0, 0.0) !important;
      transition: all 0.3s ease-in-out;
}

.lp5-code-parent::before {
      position: absolute;
      display: block;
      height: 100%;
      content: "";
      left: 0;
      width: 5px;
      transition: all 0.3s ease-in-out;
      opacity: 0.0;
      background: rgba(255, 255, 255, 0.3);
}

.client-cursor {
      position: relative !important;
      height: 10px;
      width: 0;
      background: #fff;
      border-left: 1px solid #fff;

      .label {
            font-size: 0.8rem !important;
            display: inline-block !important;
            width: auto;
            // padding:5px;
            background: rgba(15, 15, 15, 0.4);
            color: rgba(255, 255, 255, 0.6);
            border-left: 1px solid #fff;
            position: absolute;
            left: -1px;
            z-index: 9999 !important;
            top: -30px;
      }
}

.change::before {
      opacity: 1.0;
}

#setup-title,
#setup-title-end,
#draw-title,
#draw-title-end,
#aux-title,
#aux-title-end {
      display: inline-block;
      line-height: 1.4rem;
      padding: 4px;
      font-size: 1rem;
      background-color: rgba(#000, 0.3);
      color: #fff;
      clear: both; //border-bottom: 1px solid rgba(#fff, 0.4);

}

// .pannel-title {}

// .change {
//       border-bottom: 2px solid #00f !important;
// }

.error {
      border-left: 6px solid rgba(255, 0, 0, 0.5) !important;
}

// .change {
//       border-left: 8px solid rgba(255, 255, 255, 0.5) !important;
// }

.console-out-error {
      color: #f00;
      background: #000;
}

.console-out {
      font-size: 0.9rem;
      text-shadow: none;

      .error {
            background: rgba(255, 0, 0, 0.5);
            color: #fff;
            text-shadow: none;
      }

      .warning {
            background: rgba(251, 255, 0, 0.5);
            color: #fff;
            text-shadow: none;
      }

      .info {
            background: rgba(255, 255, 255, 0.5) !important;
            color: #333;
            text-shadow: none;
      }
}

.modal {
      display: none;
      position: fixed;
      background: transparent;
      z-index: 1024;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      user-select: none;

      .modal-win {
            border-radius: 8px;
            user-select: none;
            background: #000;
            border: 1px solid #333;
            position: fixed;
            top: 100%;
            left: 50%;
            font-size: 0.8rem;
            color: #fff;
            transform: translate(-50%, -100%);
            padding: 10px;

            .modal-content {
                  border-top: 1px solid #000;
            }

            label,
            input {
                  cursor: pointer;
            }

            a {
                  text-decoration: none;
                  color: #fff;
            }

            input[type=text],
            select {
                  width: 100%;
            }

            table {
                  tr {
                        min-width: 350px;

                        td {
                              padding: 3px;
                        }

                        .col1 {
                              text-align: right;
                              min-width: 150px;

                        }

                        .col2 {
                              min-width: 150px;

                        }
                  }
            }
      }
}

// Code mirror ----------------------
.CodeMirror-line {
      >span {
            padding: 4px 10px;
            line-height: 1.7rem;
            text-shadow: 0 2px 4px #000, 0 -2px 4px #000, 2px 0 4px #000, -2px 0 4px #000;
            background-color: rgba(#000, 0.4);
            color: rgba(#fff, 1);
      }
}


.D-cursor {
      z-index: 333;
      position: relative;
      pointer-events: none;
      padding: 0;
      margin: 0;
      border-left: 3px solid white;
      border-right: none;
      width: 0px;
}

//     ----------------------
.compile {
      background-color:rgba(255,255,255,0.0);
      animation: comp 0.2s linear !important;
}
@keyframes comp{
      from{
            background-color:rgba(255,255,255,0.8);
      }
      to{
            background-color:rgba(255,255,255,0.0);
      }
}

#win {
      user-select: none;
      position: fixed;
      display: block;
      height: 95%;
      width: 100%;
      top: 0;
      left: 0;
      margin: 0;
      z-index: 998;
      background: transparent;
      overflow: auto;

      #console-title {
            display: block;
            padding: 10px;
            position: fixed;
            bottom: 80px;
      }

      #lp5-console {
            overflow: hidden;
            font-size: 0.8rem;
            height: 30px;
            display: block;
            width: 100%;
            line-height: 30px;
            position: fixed;
            background: rgba(#000, 0.4);
            text-shadow: none;
            color: rgba(#fff, 0.6);
            bottom: 0;

            #lp5-os-status {
                  width: 20;
                  background: transparent;
                  color: #000;
            }

            .unsave {
                  background: rgba(255, 255, 255, 0.6) !important;
            }
      }
}

// Audio
.spectrum-bands {
      display: inline-block;
      width: 35px;
      border-right: 1px solid #fff;
}